body {
    background: rgb(143, 27, 99);
    font: normal 15pt Arial;
    
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685);
}
div#horário {
    padding: 8px;
}
footer {
    text-align: center;
    font-style: italic;
    line-height: 80px;
    font-size: smaller;

}
a#instaMãe{
    color: white;
    
}
p#letraGrande {
    font: normal 25pt Arial;;
}